.widgets_widgetContainer {
    flex: 0.32;
    margin-left: 20px;
    margin-top: 20px;
    height: 95%;
}

.widgets_widgetContainer_header {
    font-size: 20px;
    text-align: center;
    margin-top: -20px;
    margin-bottom: -20px;
}

.widgets_widgetContainer_header>h2 {
    margin-bottom: -2px;
}


.back__color1,
.back__color2,
.back__color3,
.back__color4,
.back__color5,
.back__color6,
.back__color7,
.back__color8 {

    width: 1000px;
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-top: 5px;
    max-width: 260px;
    padding: 10px 25px;
    transition: 0.3s ease-in-out;
    font-weight: 500;
    font-size: 18px;

}



.back__color1 {
    background: var(--color-blue);
    background: #000;
    color: #fff;
}


.back__color2 {
    background: var(--color-blue);
    background: #fff;
    color: #000;

    background: var(--color-blue);
    background: #F4D21F;
    color: #2E79BE;
}


.back__color3 {
    background: var(--color-blue);
    background: #E8FFD1;
    color: #000;

}

.back__color4 {
    background: var(--color-blue);
    background: #3754B1;
    color: #fff;
}

.back__color5 {
    background: var(--color-blue);
    background: #FDE1E9;
    color: #313131;
}

.back__color6 {
    background: var(--color-blue);
    background: #646566;
    color: #fff;
}


.back__color7 {
    background: var(--color-blue);
    background: #8731AD;
    color: #fff;
}


.back__color8 {
    background: var(--color-blue);
    background: #fff;
    color: #000;

}