.create {
    background-color: #fff;
    margin-top: 20px;
    margin-right: 25px;
    height: 90vh;
    /* width: 100%; */
    flex: 0.8;
    border-right: 1px solid var(--udc-background);
        
    /* スクロール → chromeのみに適用される */
    overflow-y: scroll;
    /* スクロールバーを消す */
}

.create::-webkit-scrollbar {
    display: none;
}


.createRoom-input {
    width: 70%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    /* スクロール → chromeのみに適用される */
    overflow-y: scroll;
    margin: auto;
    /* スクロールバーを消す */

}

.createRoom-input::-webkit-scrollbar {
    display: none;
}

.createRoom-input>input {
    margin: 20px 0;
}

.create-header {
    /* 固定 → stickyで固定*/
    position: sticky;
    top: 0;
    background-color: white;
    /* headerは一番上に来てほしいので100を当てる */
    z-index: 100;
    padding: 5px, 20px;
    text-align: center;

}

.createQuiz-input {
    display: flex;
    flex-direction: column;
}

.createQuizSet input {
    margin: 10px 25px;
    width: 40%;

}

.create_explain {
    text-align: center;
    margin-top: -10px;
}

.createRoom-createButton{
    border: solid #000000 1px;
}