.chatRoom{
    flex: 0.7;
    border-right: 1px solid var(--udc-background);
    border-left: 1px solid var(--udc-background);
    /* スクロール → chromeのみに適用される */
        overflow-y: scroll;
        /* スクロールバーを消す */
        min-width: 300px;
        /* flex: none; */
}

.messages-container {
    width: 100%;
    padding: 16px;
    flex-grow: 1;
    border: 1px solid var(--color-gray);
    border-radius: var(--border-radius);
    /* overflow: hidden; */
    flex-direction: row;
    flex: none;
}

.chatRoom::-webkit-scrollbar {
    display: none;
}

/* headerのcss */
.chatRoom_header {
    /* 固定 → stickyで固定*/
    position: sticky;
    top: 0;
    background-color: white;
    /* headerは一番上に来てほしいので100を当てる */
    z-index: 100;
    border: 1px solid var(--udc-background);
    padding: 5px, 20px;
}

