.roomList {
    /*修正*/
    /* 画面の20% */
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    min-width: 200px;
    flex: 0.45;
    border-right: 1px solid var(--udc-background);

    background-color: #fff;
    margin-top: 20px;
    height: 90vh;
}

.roomList::-webkit-scrollbar {
    display: none;
}

.roomList li {
    /* height: 100px; */
    padding-top: 20px;
    padding-bottom: 25px;
    background: var(--color-gray);
    flex: 1 1 calc(50% - 4px);

    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--udc-background);
    border-radius: 20px;
    width: 100%;
    justify-content: center;

    font-size: 22px;
    font-weight: bold;

}

.roomList li:hover {
    background-color: #e8f5fe;
    /* 丸み */
    border-radius: 30px;
    /* hover時の文字の色変更 */
    color: var(--udc-color);
    cursor: pointer;
}

.roomList_header {
    position: sticky;
    top: 0;
    background-color: rgb(255, 255, 255);
    z-index: 100;
    border-bottom: 2px solid var(--udc-background);
    /* border: 1px solid var(--udc-background); */
    padding: 20px 20px;
    margin-top: 4px;
    margin-bottom: -10px;
    font-size: 25px;
    font-weight: 800;
    text-align: center;
}

ul {
    padding: 0;
}