.landing {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap: 4px;
    /* スクロール → chromeのみに適用される */
        overflow-y: scroll;
        min-width: 200px;
}
.landing::-webkit-scrollbar {
    display: none;
}

.chat-room-list li {
    height: 100px;
    background: var(--color-gray);
    flex: 1 1 calc(50% - 4px);
    border-radius: var(--border-radius);

    display: flex;
    justify-content: center;
    align-items: center;
}
.landing{
    flex: 0.2;
    border-right: 1px solid var(--udc-background);
}
