.login {
    background: var(--color-blue);
    padding: 16px;
}

.unAuthenticated{
    /* flexBox → 縦並び、中央揃え */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal_rule{
    width: 500px;
    height: 400px;
    padding: 16px;
    background-color: white;
    overflow-y: scroll;

}