.topic_chat {
    flex: 0.4;
    border-right: 1px solid var(--udc-background);
    border-left: 1px solid var(--udc-background);
    /* スクロール → chromeのみに適用される */
    overflow-y: scroll;
    /* x軸方向の動きをなくす？ */
    overflow-x: hidden;
    /* スクロールバーを消す */
    min-width: 300px;
    /* flex: none; */
    background-color: #fff;
    margin-top: 20px;
    margin-right: 25px;
    height: 90vh;
    width: 120%;
}

.topic_messages_container {
    width: 100%;
    /* padding: 16px; */
    flex-grow: 1;
    margin-top: -60px;
    border: 1px solid var(--color-gray);
    border-radius: var(--border-radius);
    flex-direction: row;
    flex: none;
}

.topic_chat::-webkit-scrollbar {
    display: none;
}

/* headerのcss */
.topic_chat_header {
    /* 固定 → stickyで固定*/
    position: sticky;
    top: 0;
    background-color: white;
    /* headerは一番上に来てほしいので100を当てる */
    z-index: 100;
    padding: 5px, 20px;
    text-align: center;
    font-size: 25px;
    margin-top: 0;
}

.sender {
    margin-top: 10%;
}

.topicback {
    font-size: 25px;
}