/* 
グローバルにつかいたいcssを定義
*/

/* ここにcss貼り付け */

.timeline,
.roomTimeLine {
  background-color: #fff;
  margin-top: 20px;
  margin-bottom: -20px;
}

.chat {
  background-color: #fff;
  margin-top: 20px;
  margin-bottom: -20px;
  width: 120%;
}

.sidebar {
  background-color: #fff;
  margin-bottom: 20px;
}

.roomList,
.myRoomList {
  background-color: #fff;
  margin-top: 20px;
  height: 100%;
  size-adjust: 100%;
}

.sendMail,
.profile {
  width: 100%;
  height: 100%;
  background-color: #fff;
  margin-top: 20px;
}

.create {
  background-color: #fff;
  margin-top: 20px;
  margin-bottom: -20px;
  width: 100%;
}

.score {
  background-color: #fff;
  margin-top: 20px;
  margin-bottom: -20px;
  width: 100%;
}

/*ログインボタン*/
button.login {
  /*ボタンの大きさ*/
  height: 50px;
  width: 1000px;
  background: #eee;
  border-radius: 50px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 260px;
  padding: 10px 25px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: 500;
}

button.login {
  background: #fff;
  color: #000;
}

button.login:after {
  /*矢印大きさ*/
  content: '';
  width: 9px;
  height: 9px;
  border-top: 3px solid #313131;
  border-right: 2px solid #313131;
  transform: rotate(45deg) translateY(-50%);
  position: absolute;
  top: 50%;
  right: 30px;
  border-radius: 1px;
  transition: 0.3s ease-in-out;
}

button.login:hover:after {
  border-color: #FFF;
}

body {
  --udc-color: #50b7f5;
  --udc-background: #e6ecf0;
  background-color: #50b7f5;
}

.app {
  /* タイムラインとウィジェットをよこならびにするため */
  display: flex;
  /* 縦画面いっぱい */
  height: 100vh;
  /* 最大 */
  max-width: 1300px;
  /* 中央寄せ */
  /* margin: 0, auto; */
  margin-top: 0;
  margin-left: auto;
  margin-bottom: 0;
  margin-right: auto;
  /* 左右10px開けたい */
  padding: 0, 10px;

}
a {
  text-decoration: none;
}
a:visited{
  color: inherit;
}
